.back{
    background-color: 	
    #E0FCF5;
}
.navbar-brand{
     font-weight: 500;
}
.nav-item a{
 font-weight: 500;
}
.home-heading{
    margin-top:150px;
    font-size: 30px;
    justify-content: center;
}
.home-para{
    font-size: 20px;

}
.main-img img{
    padding: 30px;
    width: 693px;
height: 598px;
flex-shrink: 0;
}