<div class="landing-page ">
  <nav class="navbar navbar-expand-lg  back">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Form Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testemonials</a>
          </li>


        </ul>
        <li class="d-flex">
          <button class="btn btn-outline-success" routerLink="hospital_registration">Hospital Registration</button>
        </li>
      </div>
    </div>
  </nav>
  <section class="container" id="home">
    <div class="row">
      <div class="col-md-6">
        <h1 class="home-heading">Revolutionizing Hospital Registration: A Unified Solution for Seamless Patient
          Onboarding</h1>
        <div class="home-para">
          <p>Welcome to a groundbreaking solution that transforms the landscape of hospital registration. Our innovative
            product is designed to cater to the diverse needs of multiple hospitals, offering a unified platform for
            seamless and efficient patient onboarding. </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="main-img"> <img src="assets/img/hero.png" alt=""></div>
      </div>
    </div>
  </section>
  <section class="about container" id="about">
    <div class="about-heading">
      <h1>
        About Us
      </h1>
      <hr>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita dolores voluptatum necessitatibus sapiente
        nostrum laborum beatae ad quo voluptas vero.</p>
    </div>
    <div class="row  card-sec">
      <div class="col-md-4">

        <div class="card text-center">
          <img src="assets/img/const1.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consultation</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card text-center">
          <img src="assets/img/injection.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Phramacy</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card text-center">
          <img src="assets/img/ambu.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Emergency</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>


    </div>
  </section>
  <section class="mission container " id="">
    <div class="mission-heading">
      <h1>Our Mission And Vision</h1>
      <hr>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed veniam, nostrum optio vero a possimus hic
        architecto. Recusandae obcaecati quisquam molestiae repellendus quidem.
      </p>
    </div>
    <div class="row">
     <div class="col-sm-6">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque excepturi autem incidunt cupiditate adipisci consectetur accusantium unde quis inventore sequi aperiam, laborum, dolorum sed aliquid. Soluta cupiditate magnam temporibus maxime, voluptates facere fuga suscipit, natus culpa doloremque placeat nam dolorum voluptas harum in delectus sunt amet ex incidunt commodi aut eaque dicta minus. Quas numquam incidunt ducimus, debitis neque facere nisi, perferendis deleniti similique ad dolore. Sint eos esse laborum laudantium atque exercitationem debitis repellendus, provident corporis consectetur! Consectetur dicta iure maiores quo, eius assumenda ea numquam, nesciunt adipisci, sunt minima voluptatum deleniti sit tempore doloribus sequi laudantium odit velit. Suscipit, eveniet quasi.
     </div>
     <div class="col-sm-6">
      
     </div>


    </div>

  </section>


</div>