<div class="landing-page ">
  <nav class="navbar navbar-expand-lg  back">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Form Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Testemonials">Testemonials</a>
          </li>


        </ul>
        <li class="d-flex">
          <button class="btn btn-outline-success" routerLink="login">Hospital Registration</button>
        </li>
      </div>
    </div>
  </nav>
  <section class="container" id="home">
    <div class="row">
      <div class="col-md-6">
        <h1 class="home-heading">Revolutionizing Hospital Registration: A Unified Solution for Seamless Patient
          Onboarding</h1>
        <div class="home-para">
          <p>Welcome to a groundbreaking solution that transforms the landscape of hospital registration. Our innovative
            product is designed to cater to the diverse needs of multiple hospitals, offering a unified platform for
            seamless and efficient patient onboarding. </p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="main-img"> <img src="assets/img/hero.png" alt=""></div>
      </div>
    </div>
  </section>
  <section class="about container" id="about">
    <div class="about-heading">
      <h1>
        About Us
      </h1>
      <hr>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita dolores voluptatum necessitatibus sapiente
        nostrum laborum beatae ad quo voluptas vero.</p>
    </div>
    <div class="row  card-sec">
      <div class="col-md-4">

        <div class="card text-center">
          <img src="assets/img/const1.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consultation</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card text-center">
          <img src="assets/img/injection.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Phramacy</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card text-center">
          <img src="assets/img/ambu.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Emergency</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>


    </div>
  </section>
  <section class="mission container " id="mission">
    <div class="mission-heading">
      <h1>Our Mission And Vision</h1>
      <hr>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed veniam, nostrum optio vero a possimus hic
        architecto. Recusandae obcaecati quisquam molestiae repellendus quidem.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="mission">
          <h3>Our Mission</h3>
          <ul>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita dicta consequuntur quis, asperiores
              magnam vero.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui consectetur doloremque, dolorem dolorum
              quas quam!</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, corporis necessitatibus! Vitae
              repellat hic modi.</li>
          </ul>
        </div>
        <div class="vision">
          <h3>Our Vision</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat explicabo velit possimus
              ipsum laudantium.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus recusandae illo quae optio
              perspiciatis dolores.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi saepe, modi incidunt ut architecto eaque.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="misson-img">
          <img src="assets/img/mission.svg" alt="">
        </div>
      </div>


    </div>

  </section>
  <section class="container" id="Testemonials">
    <div class="testimonials-clean">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">Testimonials </h2>
          <hr>
          <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula.
            Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row people">
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="assets/img/test.jpeg">
              <h5 class="name">Ben Johnson</h5>
              <p class="title">CEO of Company Inc.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum
                justo suscipit id.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="assets/img/test.jpeg">
              <h5 class="name">Carl Kent</h5>
              <p class="title">Founder of Style Co.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in,
                vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="assets/img/test.jpeg">
              <h5 class="name">Emily Clark</h5>
              <p class="title">Owner of Creative Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="row">

      <div class="col-sm-3">
        <h5>form Management </h5>
        <small> Copy rigt tecraki Reserved </small>
      </div>
      <div class="col-sm-3 quick-link">
        <h4>Quicks Links</h4>
        <ul>
          <li class="list"><a href="#home">Home</a></li>
          <li class="list"><a href="#about">About Us</a></li>
          <li class="list"><a href="#mission">Mission</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Address</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor adipisci minus saepe dolorem. Deleniti
          voluptatem voluptates distinctio dolores at ullam aperiam natus aliquam magnam reprehenderit! Aliquid, dolore!
          Rem, ex ratione.</p>
      </div>
      
      <div class="col-sm-3">
        <h4>Socials Links</h4>
        <ul style="list-style: none; padding: 0;">
          <li><a class="socials-link-add" href=""><img class="socials-links" src="assets/img/linkedin.png" alt=""> LinkedIn</a></li>
          <li><a class="socials-link-add" href=""><img class="socials-links" src="assets/img/twitter.png" alt=""> Twitter</a></li>
          <li><a class="socials-link-add" href=""><img class="socials-links" src="assets/img/facebook.png" alt=""> Facebook</a></li>
          <li><a class="socials-link-add" href=""><img class="socials-links" src="assets/img/insta.png" alt=""> Instagram</a></li>
        </ul>
      </div>
      
    </div>
  </section>



</div>