<div class="sidebar">
  <div class="logo"><h3>logo</h3></div>
  <div class="dash">

    <div class="button dash-btn" ><a  acttive href="#">Dashboard</a></div>
    <div class="button dash-btn"><a href="#">Patients Registration</a></div>
    <div class="button dash-btn"><a href="#">Form Management</a></div>
  </div>
  
  
</div>

<!-- <div class="content" [ngClass]="{'collapsed': isSidebarCollapsed}">
  <button class="btn btn-primary toggle-btn" (click)="toggleSidebar()">Button</button>
</div> -->

<!-- Your main content goes here -->
<div class="containe">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="hospital-name align-items-center">
         <h5> Meerut Medicai Hospital</h5>
        </div>
        <div class="d-flex ms-auto align-items-center">
          <div><p>Ravindra</p></div>
          <div><img src="../../../../assets/img/ambu.gif" class="profiie" alt="">
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="main-page">

    <div class="row">
      <div class="col-sm-3 mb-3 mb-sm-0 box1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Form Management</h5>
           
            <a href="#" class="btn btn-primary">Forms</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 box2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">New Patients Registration</h5>
            <a href="#" class="btn btn-primary">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>