.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    z-index: 1;
    padding-top: 5px;
    background-color:#FAFAFA; /* Add background color */
    transition: all 0.3s;
  }
  .dash{
    padding-top: 30px;
  }
  .sidebar a {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: #000000; /* Change text color */
    display: block;
    transition: all 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #ebe7e7;
  }
  
  /* .content {
    margin-left: 250px;
    transition: all 0.3s;
  }
  
  .toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  
  .collapsed {
    width: 56px;
    padding-top: 0;
  }
  
  .collapsed .sidebar a {
    padding: 8px;
    font-size: 14px;
  }
  
  .collapsed .content {
    margin-left: 56px;
  }
   */

.containe{
margin-left: 150px;
}
.profiie{
    height: 30px;
    width: 30px;
}
.dash-btn{
    margin: 2px 5px;
    border-radius: 10px;
    background-color: #CBD0E3;
}
.main-page{
    padding:100px;
}
.card{
border: none;
text-align: center;
box-sizing: none;
}
.card-body{
 height: 100px; width: 200px; background-color: #CBD0E3;  border-radius: 10px;
 align-items: center;
}